@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nicer default font + smooth redendering */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooothing: grayscale;
}
