# dependencies
node_modules/

# env
.env
.env.*
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# mac
.DS_Store

# builds
client/dist/
build/
coverage/

# misc
.vscode/

# backend zip aws eb
server-eb.zip

# EC2 Key pair  & Permission key
eb-portfolio-key.pem
moon.pem

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Hide CI/CD Pipeline
.github

# Hide Developer Notes/Documentation
docs.pdf

# Hide idea from Pycharm
.idea/

# Hide my assets screenshots
assets/