# dependencies
node_modules/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# mac
.DS_Store

# builds
client/dist/
build/
coverage/

# misc
.vscode/

# backend zip aws eb
server-eb.zip

# EC2 Key pair
eb-portfolio-key.pem
